/*@media screen and (max-width: 600px) {
    .corrida-principal .titulo{
        font-size: 20px;
    }

    .botao{
        width: 90px;
        height: 30px;
    }
} */

@media screen and (max-width: 700px) {
    .corrida-principal .titulo{
        font-size: 25px;
        margin-top: 5%;
    }

    .corrida-principal .descricao{
        margin-bottom: 20px;
        margin-top: 5px;
    }

    header .container{
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }

    .botao{
        margin-top: 4px;
        width: 200px;
    }
}


@media screen and (min-width: 1000px) {
    .descricao{
        width: 50%;
    }

}